/* padding weg gemacht, da das Bild welches oben immer bei jeder Seite sein soll sonst nicht durchgeht, sondern mit 15px abstand vom rand eingepadded ist  */

.container{ 
	padding: 0px;
	color:F7F7F7;
	
	
}
.blog-masterhead{
	background-color: #2A2E33;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1);
}
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight:300;
	color: green;
	text-decoration: none;
}

.blog-nav-item:hover {
	text-decoration: none;
	font-weight: bold;
	color: white;
	
}

.navbar .navbar-brand img{
	height: 45px;
	margin: 10px;
	
}

.navbar-toggler{
	top: 50%;
	transform: translate(0%,-50%);
	
}

.navbar  .dropdown-item {
	font-size: larger;
}

.navbar  .nav-item {
	font-size: x-large;
}

#navbarwrapper {
	width:100%;
	padding:1rem;
	z-index: 10;
    position: fixed;
}

.navbar {
	height: 4rem;
}

/*padding navbar */
.navbar-nav > li{
  padding-left:0.7vw;
  padding-right: 0.7vw;
}

body#content .bg-faded{
	background-color: white;
}

div#content *{
	font-family: 'Source Sans Pro', sans-serif!important;
	text-align: justify;
}
div#content nav{
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-weight: 400;
}
/* Definierung Überschrit h1, h2 unterüberschrift, h3 zwischen überschrift */
div#content h1{
	font-family: 'Source Sans Pro', sans-serif!important;
}
div#content h2 {
	font-family: 'Crimson Text', serif!important;
	font-style: italic;

}
div#content h3 {
	font-family: 'Source Sans Pro', sans-serif!important;
}
div#content h4 {
	font-family: 'Crimson Text', serif!important;
	font-style: italic;
}

h1{
	font-size: 60px!important;
	font-weight: bold!important;
	color: #55779E!important;
	padding-bottom:0px!important;
	font-style: black!important;
}
h2{
	font-size: 25px!important;
	color: #62676B!important;
	font-weight: 200!important;
}

h3 {
	font-size: 25px!important;
	color:#55779E!important;
	font-weight: bold!important;
}
h4{
	font-size: 22px!important;
	color: #62676B!important;
	font-weight: 200!important;
}

h5{
	font-size: 22px!important;
	color:#55779E!important;
	font-weight: 400!important;
}

p {
	font-size: 20px!important;
	color:#2A2E33!important;
}


hr {
	border-color: #484848!important; /*color change for chrome and safari*/
	background-color:#484848!important; /*firefox und opera*/
	color:#484848!important; /*IE7+ */
	padding: 1px!important;
	
}


.floated-m{
	width: 100%; 
	text-align: center!important;
    margin:10px 10px 10px 10px;
}
	
.floated-r{
	float: right;
	text-align: center!important;
    width: 50%;
    padding:0vh 2vw 0vh 2vw!important;

}

.floated-l{
	float: left;
    width: 50%;
    padding:0vh 2vw 0vh 2vw!important;;
}

figure.floated-r img{
	max-height:300px;
}

figure.floated-l img{
	max-height:300px;
}

figure.floated-m img{
	max-height:500px;
}

figure img{
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
}

figcaption{
	text-align: center!important;
	font-size: 18px!important;	
}

div#content figcaption{
	font-family: 'Crimson Text', serif!important;
	font-style: italic;
}

.floated-h{
	float: left;
	height:70px;
    margin:1rem 1rem 1rem 1rem;
}

.toppic{
	position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
	margin-bottom: 4vh;
	height:300px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
/*footer classes*/
div#content footer {
	background-color: #222!important;
	font-family: Merienda!important;
}

div#content footer div {
	background-color: #222;
	margin: 0;
}

div#content footer p {
	background-color:#222;
	margin: 0;
	color:white!important;
}
div#content footer a {
	color:white!important;
}

div#content .jumbotron{
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	background-color:white;
	border: 2.5px solid #222;
	
}

/* key achievement schrift css */

div#content p.key_achiev{
	font-size: 20px!important;
	font-weight: 500!important;
}
div#content p.key_achievh{
	font-size: 30px!important;
	font-weight: bold!important;
	margin:0px 0px 0px 0px!important;
	color: #FFB400!important;
	padding:0px 0px 0px 0px !important;
	font-style: black!important;
}


.back-to-top {
	position: fixed;
	right: 10px;
	bottom: 170px;
	display:none;
	opacity:0.9;
	background-color: green;
}



.footer-layout {
	height: 140px;
}

.Linker{
	height: 30vh;
	padding: 1em;
	}
	
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  }
  
  .container:hover .overlay {
  opacity: 1;
  }

  .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-whole {
	padding-bottom: 3em;
	justify-content: center;
	width: 100%;
	position: relative;
}

.img-index {
	width: 100%;
	padding-bottom: 3em;
}

.centerimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont_whole{
	padding-left:0!important;
	padding-right:0!important;
}

.sponsor{
	padding-bottom: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vh;
}

#popupBoxOnePosition{
top: 10px; left: 0; position: fixed; width: 100%; height: 120%;
background-color: rgba(0,0,0,0.7); display: none;
}
#popupBoxTwoPosition{
top: 100px; left: 0; position: fixed; width: 100%; height: 120%;
background-color: rgba(0,0,0,0.7); display: none;
}#popupBoxThreePosition{
top: 50vh; left: 0; position: fixed; width: 100%; height: 120%;
background-color: rgba(0,0,0,0.7); display: none;
}

.popupBoxWrapper{
width: 550px; margin: 50px auto; text-align: left;
}

.popupBoxContent{
background-color: #FFF; padding: 15px;
}

.background-yellow {
	background-color: #FFB400;
}

.background-gray {
	background-color: #62676B;
}

.background-yellow p, .background-gray p {
	color: white!important;
}

.indexbox {
	font-size: 20px!important;
	min-height: 300px;
}

.indexbox h3  {
	padding-top: 40px!important;
}

.advisorpic{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	width:191px;
}

.weeksnotebook{
	font-size: 18px!important;
	color:white!important;
	text-align: center!important;
}