/* padding weg gemacht, da das Bild welches oben immer bei jeder Seite sein soll sonst nicht durchgeht, sondern mit 15px abstand vom rand eingepadded ist  */

.container{ 
	padding: 0px;
	background-color: red;
}
.blog-masterhead{
	background-color:#2eace9;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1);
}
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight:300;
	color: green;
	text-decoration: none;
}
.blog-nav-item:hover {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

/*padding navbar */
.navbar-nav > li{
  padding-left:1rem;
  padding-right:1rem;
}

body#content .bg-faded{
	background-color: white;
}

div#content *{
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif!important;
	text-align: justify;
}
div#content nav{
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif!important;
	font-weight: 400;
}
/* Definierung Überschrit h1, h2 unterüberschrift, h3 zwischen überschrift */
div#content h1{
	font-family: 'Source Sans Pro', sans-serif!important;
}
div#content h2 {
	font-family: 'Crimson Text', serif!important;
	font-style: italic;

}
div#content h3 {
	font-family: 'Source Sans Pro', sans-serif!important;
}

.floated-r{
	float: right;
    width: 50%;
    margin:1rem 1rem 1rem 1rem;
}

.floated-l{
	float: left;
    width: 50%;
    margin:1rem 1rem 1rem 1rem;
}

h1{
	font-size: 50px!important;
	font-weight: bold!important;
	color: #FFB400!important;
	padding-bottom:0px!important;
	font-style: black!important;
}
h2{
	font-size: 20px!important;
	color: #62676B!important;
	font-weight: 200!important;
}

h3 {
	font-size: 40px!important;
	color:#FFB400!important;
	font-weight: bold!important;
}

p {
	font-size: 15px!important;
	color:#2A2E33!important;
}

hr {
	border-color: #484848!important; /*color change for chrome and safari*/
	background-color:#484848!important; /*firefox und opera*/
	color:!important; /*IE7+ */
	padding: 1px!important;
	
}
.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#content footer {
	background-color: #222!important;
	font-family: Merienda!important;
}

div#content footer div {
	background-color: #222;
	margin: 0;
}

div#content footer p {
	background-color:#222;
	margin: 0;
}

div#content .jumbotron{
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	background-color:grey;
	
}

/* key achievement schrift css */

div#content p.key_achiev{
	background-color:grey;
	color: white!important;
}
/* nach oben button */	

/*.scrollup {
    padding: 5px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: 0px;
    background-color: #aa0044;
}*/

.back-to-top {
	position: fixed;
	right: 4px;
	bottom: 4px;
	border: black 1px solid;
	border-radius: 2em;
	padding: 0.5em 1em;
	font-size: 4em;
	color: black!important;
	display: none;
	
}



.footer-layout {
	height: 100px;
}

.img-whole {
	height: auto;
	padding-bottom: 3em;
	max-width: 90vw;
	max-height: 90vh;
}
