<!---padding weg gemacht, da das Bild welches oben immer bei jeder Seite sein soll sonst nicht durchgeht, sondern mit 15px abstand vom rand eingepadded ist --->

.container{
	padding: 0px;
	background-color: green;
}
.blog-masterhead{
	background-color:#2eace9;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1);
}
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight:300;
	color: red;
	text-decoration: none;
}
.blog-nav-item:hover {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.jumbotron {
	background-color: #FFDBC0;
	color:black;

}
div#content *{
	background-color: white;
	font-family: Merienda!important;
}

<!-- back-to-top -->	

.scrollup {
    padding: 5px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: 0px;
    background-color: #aa0044;
}

<!-- button for back to top -->
 (Farben etc funktionieren nicht)
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}