<!---padding weg gemacht, da das Bild welches oben immer bei jeder Seite sein soll sonst nicht durchgeht, sondern mit 15px abstand vom rand eingepadded ist --->

.container{ 
	padding: 0px;
	background-color: red;
}
.blog-masterhead{
	background-color:#2eace9;
	box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1);
}
.blog-nav-item {
	position: relative;
	display: inline-block;
	padding: 10px;
	font-weight:300;
	color: green;
	text-decoration: none;
}
.blog-nav-item:hover {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

.jumbotron {
	background-color: #FFDBC0;
	color:black;

}
div#content *{
	background-color: white;
	font-family: 'Lato', sans-serif!important;
	text-align: justify;
}
div#content nav{
	background-color: white;
	font-family: 'Lato', sans-serif!important;
	font-weight: 400;
}
/* Definierung Überschrit h1 */
div#content h1{
	font-family: 'Nunito', sans-serif!important;
}
div#content h3 {
	font-family: 'Lato', sans-serif!important;
}

h1{
	font-size: 70px!important;
	font-weight: bold!important;
	color: #DFC345!important;
	padding-bottom:10px!important;
}
h2{
	font-size: 30px!important;
}

h3 {
	font-size: 40px!important;
	color:#DFC345!important;
	font-weight: bold!important;
}

p {
	font-size: 15px!important;
	color:#2e2e2e!important;
}

hr {
	border-color: #484848!important; /*color change for chrome and safari*/
	background-color:#484848!important; /*firefox und opera*/
	color:!important; /*IE7+ */
	padding: 1px!important;
	
}
.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#content footer {
	background-color: #222!important;
	font-family: Merienda!important;
}

div#content footer div {
	background-color: #222;
	margin: 0;
}

div#content footer p {
	background-color:#222;
	margin: 0;
}

<!-- back-to-top -->	

/*.scrollup {
    padding: 5px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: 0px;
    background-color: #aa0044;
}*/

.back-to-top {
	position: fixed;
	right: 4px;
	bottom: 4px;
	border: black 1px solid;
	border-radius: 2em;
	padding: 0.5em 1em;
	font-size: 4em;
	color: black!important;
	display: none;
	
}



.footer-layout {
	height: 100px;
}