</body>

</body>
<div>
<footer class="footer-layout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<img src="http://2018.igem.org/wiki/images/2/2a/T--Aachen--navbar_logo.jpg" alt="MELASENS" style="height:25px; width=auto; margin-top: 60px;"></div>
			<div class="col-sm-3"></div>
			<div class="col-sm-2">
				<p style="margin-top: 10px">CONTACT US: </br>
				<a href="http://2018.igem.org/Team:Aachen/impressum">impressum</a></p>
				<a href="https://de-de.facebook.com/iGEMAachen/"><img src="http://2018.igem.org/wiki/images/a/a0/T--Aachen--fb.png" style="height: 35px; width=auto; padding-top: 8px; padding-right: 20px;"></a>
				<a href="https://twitter.com/iGEMAachen"><img src="http://2018.igem.org/wiki/images/6/69/T--Aachen--twitter.png" style="height: 35px; width=auto; padding-top: 8px; padding-right: 20px;"></a>
				<a href="https://www.instagram.com/igem.Aachen/"><img src="http://2018.igem.org/wiki/images/6/61/T--Aachen--insta.png" style="height: 35px; width=auto; padding-top: 8px; padding-right: 20px;"></a>
				</div>
			<div class="col-sm-5"></div>
		</div>
	</div>
</footer>
</div>
			
	<script type="text/javascript">
			<!--
			    function toggle_visibility(id) {
			       var e = document.getElementById(id);
			       if(e.style.display == 'block')
			          e.style.display = 'none';
			       else
			          e.style.display = 'block';
			    }
			//-->
		</script>

	
</html>

{{js/jquery-3.3.1.min}}
{{js/popper.min}}
{{js/bootstrap.min}}
</body>
</html>
