</body>

</body>
<div>
<footer class="footer-layout">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5">
				<img src="http://2018.igem.org/wiki/images/2/2a/T--Aachen--navbar_logo.jpg" alt="MELASENS" style="height:45px; width=auto; margin-top: 30px; margin-bottom: 30px;"></div>
			<!--<div class="col-sm-3"></div>-->
			<div class="col-sm-3">
				<a href="https://de-de.facebook.com/iGEMAachen/"><img src="http://2018.igem.org/wiki/images/a/a0/T--Aachen--fb.png" style="height: 45px; width=auto; padding-right: 10px; padding-left: 10px; margin-top: 30px;"></a>
				<a href="https://twitter.com/iGEMAachen"><img src="http://2018.igem.org/wiki/images/6/69/T--Aachen--twitter.png" style="height: 45px; width=auto; padding-right: 10px; padding-left: 10px; margin-top: 30px;"></a>
				<a href="https://www.instagram.com/igem.Aachen/"><img src="http://2018.igem.org/wiki/images/6/61/T--Aachen--insta.png" style="height: 45px; width=auto; padding-right: 10px; padding-left: 10px; margin-top: 30px;"></a>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-2">
				<p style="margin-top: 18px; letter-spacing:1.5px;"><b>CONTACT US:</b> </br>
				<a href="http://2018.igem.org/Team:Aachen/impressum">impressum</a></p>
				</div>
			<!--<div class="col-sm-5"></div>-->
		</div>
	</div>
</footer>
</div>
			
	<script type="text/javascript">
			<!--
			    function toggle_visibility(id) {
			       var e = document.getElementById(id);
			       if(e.style.display == 'block')
			          e.style.display = 'none';
			       else
			          e.style.display = 'block';
			    }
			//-->
		</script>
		
		<script>
				window.onscroll = function() {scrollFunction()};

				function scrollFunction() {
					if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
					document.getElementById("back-to-top-Btn").style.display = "block";
				} else {
					document.getElementById("back-to-top-Btn").style.display = "none";
				}
			}
			</script>

	
</html>

{{js/jquery-3.3.1.min}}
{{js/popper.min}}
{{js/bootstrap.min}}
</body>
</html>
