{{css/bootstrap.min}}
{{css/custom}}

<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body>
	<div class="blog-masterhead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item">Navigationspunkt</a>
				<a class="blog-nav-item">Navigationspunkt</a>
				<a class="blog-nav-item">Navigationspunkt</a>
				<a class="blog-nav-item">Navigationspunkt</a>
				<a class="blog-nav-item">Navigationspunkt</a>
			</div>
		</div>
	</div>