{{css/bootstrap.min}}
{{css/custom}}
{{css/font}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" name "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
	


  <body>
  
  <!-- hier beginnt Navigation  --> 
  
<nav id="content" class="navbar navbar-toggleable-sm navbar-light bg-faded" style="background-color:white"> <!-- Das hier ändern falls andere Hintergrund farbe!  -->
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!--Referenz für Logo (Home-button) anpassen! -->
  <a class="navbar-brand " href="#"> 
    <img src="http://2018.igem.org/wiki/images/8/88/T--Aachen--MLS_Melasense_LOGO_black.png" style="width:200px; padding: 10px 10px 10px 10px" alt="hier soll das logo sein">
  </a>
	<nav class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Project
				</a>
					<nav  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://example.com">	Overview</a>
						<a class="dropdown-item" href="#">Background</a>
						<a class="dropdown-item" href="#">Something else here</a>
						<a class="dropdown-item" href="#">Something else here2</a>
					</nav>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Labstuff
				</a>
					<nav class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://example.com">Overview</a>
						<a class="dropdown-item" href="#">Notebook</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</nav>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					HP
				</a>
					<nav class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://example.com">Education</a>					
					</nav>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Hardware
				</a>
					<nav class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://example.com">LSPR</a>					
					</nav>
			</li>
			<li class="nav-item dropdown" style="padding-right:4rem">
				<a class="nav-link dropdown-toggle" href="http://2018.igem.org/Team:Aachen/team" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Team
				</a>
					<nav class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://2018.igem.org/Team:Aachen/portraits">Members</a>					
					</nav>
			</li>
		</ul>
	</nav>
</nav>

 <!-- Hier endet Navigation -->
 
 
